$primaryColor: #4527a4;

.cebpNowEditing {
  outline: 2px solid $primaryColor;
}

.cebpInspectorInfo {
  padding: 6px;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.main-container {
  border: 1px solid #edf2f7;
  border-radius: 0.25rem;
  position: relative;
}
.ace_scrollbar.ace_scrollbar-v {
  display: none;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading p {
  margin: 0;
}

.copy-btn {
  border: none;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-right: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
